* {
  max-width: 700px;
  margin: auto;
}


/*body {
    min-width: 500px;
<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>RESUME</h1>
  <h2>Ahmed Ali</h2>
  <link rel="style sheet' href="style.css"/>
  <h3>I am a hard-working and driven individual who isn't afraid to face a challenge. I'm passionate about my work and I know how to get the job done. I would describe myself as an open and honest person who doesn't believe in misleading other people and tries to be fair in everything I do.<h/3> 
  <hr />
  <br>
  <p class="head">Contact</p>
  <ul>
    <li>Phone:+15073197666 Address: 5148 161st st w #2045 Lakeville 55044</li>

   
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Networking</li>
    <li>Problem solving</li>
    <li>Fast learning</li>
  </ul>
  <p class="head">Education</p>
  <ul>
    <a href="https://www.rctc.edu"/>
      <li>Rochester community technical College</li>
   
  </a>
        <a href="https://www.cisco.com/c/en/us/training-events/training-certifications/certifications/associate/ccna.html">
      <li>Cisco Certified Networking Associate </li>
    </a>
   <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwilzJ3g-sGBAxXZjYkEHaugBpsQFnoECBkQAQ&url=https%3A%2F%2Fogburn.org%2F&usg=AOvVaw2iuk2dKo82STpNflOpaFTz&opi=89978449">
      <li>The Ogburn School </li>
    </a>
     
  </ul>
  <p class="head">Experience</p>
  <ul>
    <li>Best Buy(Sales Advisor/Geek Squad Technician)</li>
    <li>Telecommunications Supervisor</li>
  </ul>
  <p class="head">Hobbies</p>
  <ul>
    <li>Stock Trading</li>
    <li>Learniing New skills</li>
    <li>Reading</li>
  </ul>
</div>
<div class="right"></div>
<div id="footer">
  <h2 id="name">Ahmed</h2></div>

}*/



